{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Magazin{% endblock %}</title>
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.11.1/css/all.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active my-2">
                <a class="nav-link" href="{% url 'index' %}">На главную <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item my-2">
                <a class="nav-link" href="{% url 'product_create' %}">Добавить товар</a>
            </li>
        </ul>
        {% block search %}
            <div class="search-form">
                <form class="form-inline my-2 my-lg-0" action="{% url 'index' %}" method="GET">
                    {{ search_form.search }}
                    <input class="form-control mr-sm-2" type="submit" value="Найти">
                </form>
            </div>
        {% endblock %}
    </div>
</nav>
<div class="container">

    {% block content %}{% endblock %}
</div>
</body>
</html>